



<div id="wrapper"><h1> Todays Clean Energydvdfbdfb</h1> 
<p>I think this course is great, but the presentation is complicated by not having versions of the code in different stages. I'm able to get through it and understand - but I find myself looking at code that does not match what I'm seeing on the video until I get to the end of the course.
    
    I would have liked to see the creation of the project including tsconfig.json and how to add auto compile on save options to the project.
    
    However, the course was very useful and I was able to learn a great deal from it.</p>
<br/><br/>
<div id="wrap5">
    <div id="doughnut1">
        <canvas  baseChart     height= 179px;
    width= 182px;
                    [data]="doughnutChartData"
                    [colors]="doughnutChartColors1"
                    [labels]="doughnutChartLabels"
                    [options]="doughnutChartOptions"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered1($event)"
                    (chartClick)="chartClicked1($event)"  #mycanvas id="doughnut1"></canvas>                        
                    
                    <!-- <span id="myLabel"> {{title}}</span>  -->
                   

                <img id="myForegrounds" src="assets/Images/background22.png"/>
               
                    <p id="percentagewind"><b>{{num}} <span class="percentage">%</span></b></p>   <span id="myLabel1"> <strong>Active Renewable</strong><br/>       
                    <span class="enrgy"><strong>Energy</strong></span>
                    </span>
            </div>
</div>


 <!-- <div id="wrap2">
        <span id="myPercent2"><span class='numscroller' data-min='1' data-max='14' data-delay='3' data-increment='1'>1424</span></span>
        <span id="myLabel2">MWh Total Wind Energy Produced Since
            <br/>
                <span class="totalwind-year">2008</span>
            </span>
    </div> -->
      
